body {
    background-color: #F2F7F2;
}
a {
    color: #F2F7F2 !important;
}
h1 {
    font-size: 7vw!important;
    width: auto !important;
}
h3 {
    font-size: xx-large !important;
    text-decoration: underline;
}

form {
    background-color: #BBBE64 !important;
    border: 2px solid black;
}
.alert {
    text-align: center;
    font-size: xx-large;
}
.alert > a {
    color: black !important;
}
.bg-1 {
    background-color: #BCAA99 ;
    font-size: xx-large;
}

.bg-2 {
    background-color: #BCAA99;
    width: auto !important;
    font-size: xx-large;
};

.bg-3 {
    background-color:green;
    width: auto !important;
    font-size: xx-large;
};

.bg-4 {
    background-color:gold;
    width: auto !important;
    font-size: xx-large;
};

