<div>
    <h3>REGISTER</h3>
    <form name="registerform" onsubmit()="register()">
        <label for="email">email: </label>
            <input type="text" name="email">
        <label for="password">password: </label>
            <input type="text" name="password">
        <label for="firstname">First name: </label>
            <input type="text" name="firstname">
        <label for="lastname">Last name: </label>
            <input type="text" name="lastname">
        <label for="birthdate">Birthdate: </label>
            <input type="date" name="birthdate">
        <button type="submit"> SUBMIT </button>
    </form>
</div>